@use "normalize";
@use "variables";
@import "@fontsource/poppins/latin.css";
@import "@fontsource/space-mono/latin.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-page-background);
  color: #eee;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.boxed-container {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
}
