.header {
  position: sticky;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  transform: translateZ(0);
  transition: allr 0.3s ease;
  will-change: transform, backdrop-filter, opacity;
}

.header__inner {
  display: flex;
  max-width: var(--page-width);
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-md);
  margin: 0 auto;

  @include from-breakpoint(md) {
    padding: 0 var(--space-xl);
  }
}

.header__logo {
  width: 6rem;
  height: auto;
  cursor: pointer;
  transition: filter 300ms;

  @include from-breakpoint(md) {
    width: 10rem;
  }
}

.header__logo:hover {
  filter: drop-shadow(0 0 1rem var(--color-primary));
}

.header--default {
  position: sticky;
  height: 6rem;
  border-bottom: 0.1rem solid rgb(255 255 255 / 20%);
  backdrop-filter: blur(0.7rem);
  background: var(--header-background);
  box-shadow: var(--shadow-lg) rgb(0 0 0 / 50%);
}

.header--floating {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  border-bottom: 0.1rem solid transparent;
  backdrop-filter: none;
  background: linear-gradient(to bottom, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 100%);
  background-clip: content-box;
}

.header--floating.header--scrolled {
  height: 4rem;
  border-bottom: 0.1rem solid rgb(255 255 255 / 20%);
  backdrop-filter: blur(0.7rem);
  background: rgb(0 0 0 / 60%);
  box-shadow: var(--shadow-md) var(--color-shadow-primary);

  .header__inner {
    padding: 0 var(--space-lg);
  }

  .header__logo {
    width: 8rem;
  }
}
