.spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a0a14;
}

.eye {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 78px;
  height: 78px;
  box-sizing: border-box;
  border: 8px solid #131a1d;
  border-radius: 50%;
  margin: 10rem auto;
  background: #fff;
}

.eye::before {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  animation: eye-move 3s infinite;
  background: #111;
  content: "";
}

.eye::after {
  position: absolute;
  z-index: 5;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 8px solid #131a1d;
  animation: eye-shade 3s infinite;
  background: #263238;
  content: "";
}

@keyframes halo-pulse {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.2);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }
}

/* animaciones del ojo */
@keyframes eye-shade {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(5px);
  }

  40%,
  50% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-8px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes eye-move {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 5px);
  }

  40%,
  50% {
    transform: translate(0, -5px);
  }

  60% {
    transform: translate(-10px, -5px);
  }

  75% {
    transform: translate(-20px, 5px);
  }

  100% {
    transform: translate(0, 10px);
  }
}
