.hero-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  background: rgb(0 0 0 / 20%);
}

.hero-slider__track {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.hero-slider__controls {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  left: 0;
  display: flex;
  width: var(--page-width);
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-md);
  margin: 0 auto;
  transform: translateY(-50%);
}

.hero-slider__control {
  position: absolute;
  width: var(--carousel-control-size);
  height: var(--carousel-control-size);
  border: 0;
  border-radius: 50%;
  background: rgb(0 0 0 / 40%);
  color: rgb(255 255 255);
  cursor: pointer;
  font-size: 2rem;
  transition: background 0.3s;
}

.hero-slider__control--prev {
  left: 0.5rem;
}

.hero-slider__control--next {
  right: 0.5rem;
}

.hero-slider__control:hover {
  background: rgb(0 0 0 / 60%);
}
