.genres-section {
  padding: 1rem 0;
  margin-bottom: 1rem;

  @include from-breakpoint(md) {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }

  @include from-breakpoint(lg) {
    padding: 0;
  }

  .genres-section__title {
    margin: 0;
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;

    @include from-breakpoint(md) {
      margin: 0 0 0.5rem;
    }
  }

  .genres-section__description {
    color: var(--color-text-gray);
  }

  .genres-section__description--danger {
    color: var(--color-text-danger);
  }
}
